/src/desktop-apps/EagleEye.Apps/obj
/src/desktop-apps/EagleEye.Apps/.idea
/src/desktop-apps/EagleEye.Apps/bin
/src/desktop-apps/EagleEye.Apps.Desktop/obj
/src/desktop-apps/EagleEye.Apps.Desktop/bin
/src/libs/EagleEye.Contents/obj
/src/libs/EagleEye.Contents/bin
/.idea
/.vs
/src/libs/EagleEye.Pwas/obj
/src/libs/EagleEye.Pwas/bin
/src/mobile-apps/EagleEye.Apps.Mobile/obj
/src/mobile-apps/EagleEye.Apps.Mobile/bin
/src/mobile-apps/EagleEye.Apps.Mobile/EagleEye.Apps.Mobile.csproj.user
